/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  font-size: 16px;
  --body-font: 'Poppins', sans-serif;
  --bg-primary: #25294C;
  --bg-secondary: #283058;
  --text-primary: #CDCFE6;
  --text-secondary: #FFF;
  --color-danger: #F75165;
  --color-primary: #4D7CFC;
  --color-secondary: #7032FF;

  
  /*=== margin ===*/
  --m-2: .5rem;
  --m-4: 1rem;
  --m-6: 1.5rem;
  --m-8: 2rem;
  
  /*=== Font Weight ===*/
  --normal: 200;
  --semi: 400;
  --bold: 600;
}
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}
.container {
  margin: 1rem;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/*=== Theme Dark ===*/
.dark {
  --bg-primary: #25294C;
  --bg-secondary: #283058;
  --text-primary: #CDCFE6;
  --text-secondary: #FFF;
  --color-transparant: rgba(100,100,100, .3);
}

/*=== Theme Light ===*/
.light {
  --bg-primary: #FFF;
  --bg-secondary: #FFF;
  --text-primary: #404047;
  --text-secondary: #252525;
  --color-transparant: rgba(0,0,0, .3);
}

/*=== Color ===*/
/*== Background ==*/
.bg-danger {
  background: var(--color-danger);
  color: #FFF;
}
.bg-primary {
  background: var(--color-primary);
  color: #FFF;
}
.bg-secondary {
  background: var(--color-secondary);
}
/*== Text ==*/
.text-danger {
  color: var(--color-danger);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}

/*=== Portfolio ===*/
.portfolio {
  display: flex;
}
/*=== Skill ===*/
.skills {
  background: var(--bg-primary);
  height: 100vh;
  width: 25vw;
}
.skills h2 {
  color: var(--text-secondary);
}
.skills p {
  font-size: .8rem;
}
.skill__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.skill__card {
  width: 20vw;
  height: 2.5rem;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 .7rem;
  font-weight: var(--bold);
  margin: .5rem 0;
  background: var(--bg-secondary);
  font-size: .8rem;
}
.skill__name {
  display: flex;
  align-items: center;
}
.skill__icon {
  color: var(--color-danger);
  font-size: 1.5rem;
  margin-right: .3rem;
}
.skill__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-danger);
  height: .25rem;
  border-bottom-left-radius: .2rem;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
.skill__html {
  width: 90%;
}
.skill__css {
  width: 60%;
}
.skill__javascript {
  width: 10%;
}
.skill__bootstrap {
  width: 70%;
}
.skill__sass {
  width: 10%;
}
.skill__ux {
  width: 85%;
}
/*=== profile ===*/
.profile {
  background: var(--bg-secondary);
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.menu {
  background-color: var(--bg-secondary);
  transition: width 600ms ease;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu__item {
  width: 100%;
}
.menu__link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 300ms;
}

.menu__link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--text-primary);
}
.menu__link svg, .menu__link i {
  width: 1.1rem;
  min-width: 1.1rem;
  margin: 0 2rem;
  font-size: 1.5rem;
}
.menu__theme__icon {
  display: none;
}
.dark #darkIcon {
  display: block;
}
.light #lightIcon {
  display: block;
}

.about__me {
  margin: .2rem 1rem;
  border: 2px solid blue;
}
.about__header {
  color: var(--text-secondary);
}
.about__body {
  display: flex;
}
.about__img img {
  width: 8rem;
  height: 8.3rem;
  border: 2px solid var(--color-transparant);
  border-radius: .1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.about__deskription {
  flex: 2;
  margin: 0 1rem;
}
.about__name {
  font-size: 1.3rem;
  color: var(--text-secondary);
}
.about__name span {
  color: var(--color-danger);
}
.work__list {
  display: flex;
  border: 1px solid red;
  margin: .3rem 1rem;
  flex-direction: column;
}
.work__header h2 {
  color: var(--text-secondary);
}
.work { 
  display: flex;
  justify-content: space-around;
}
.work img {
  width: 40vw;
}
/*=== Project ===*/
.project {
  background: var(--bg-primary);
  height: 100vh;
  width: 35vw;
}

/*=== Mobile ===*/ 
@media screen and (max-width: 576px) {
  /*=== Portfolio ===*/
  .portfolio {
    flex-direction: column;
  }
  /*=== Skill ===*/
  .skills {
    width: 100vw;
    height: auto;
    order: 2;
  }
  .skill__card {
    width: 80vw;
    height: 3rem;
    padding: 0 1rem;
  }
  /*=== Profile ===*/
  .profile {
    width: 100vw;
    height: auto;
    order: 1;
  }
  .menu {
    position: fixed;
    background: var(--bg-secondary);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    right: 0;
    border-bottom-left-radius: 10px;
  }
  .menu__link {
    height: 2.7rem;
  }
  .menu__link:hover{
    border-bottom-left-radius: 10px;
  }
  .menu__link svg, .menu__link i {
    width: 1.3rem;
    min-width: 1.2rem;
    margin: 0 1.2rem;
    font-size: 1.7rem;
  }
  
  .about__me {
    margin: 0 1rem;
    margin-top: 15vh;
  }
  /*=== Project ===*/
  .project {
    width: 100vw;
    height: auto;
    order: 3;
  }
}


/*=== Tablet ===*/
/*
@media screen and(max-width: 768px) {
  
}
*/